In [460]:
import numpy as np
import pandas as pd

In [461]:
seek = pd.read_csv('seek_australia.csv')

In [462]:
seek.head()

,category,city,company_name,geo,job_board,job_description,job_title,job_type,post_date,salary_offered,state,url
0,Retail & Consumer Products,Sydney,Frontline Executive Retail Sydney,AU,seek,Have you had 10 years experience in fresh pro...,Store Manager - Fresh Produce,Full Time,2018-04-15T23:13:45Z,$100k Base + Super + Benefits,North Shore & Northern Beaches,https://www.seek.com.au/job/35989382
1,Government & Defence,Brisbane,Powerlink,AU,seek,The Opportunity: The Client Solution Analyst ...,Client Solution Analyst,Full Time,2018-04-15T23:04:40Z,Excellent remuneration packages,Northern Suburbs,https://www.seek.com.au/job/35989272
2,Trades & Services,Sydney,Richard Jay Laundry,AU,seek,An innovative business development role for a...,Service Technician / Installer - NSW,Full Time,2018-04-15T23:04:31Z,NaN,Parramatta & Western Suburbs,https://www.seek.com.au/job/35989270
3,Trades & Services,Melbourne,Adaptalift Hyster,AU,seek,About the role: We are seeking an Automotive W...,Workshop Technician I Material Handling Equipment,Full Time,2018-04-16T03:15:17Z,NaN,Bayside & South Eastern Suburbs,https://www.seek.com.au/job/35993203
4,Trades & Services,Adelaide,Bakers Delight G&M,AU,seek,Â Early starts and weekend shifts. No experie...,APPRENTICESHIP JUNIOR BAKER,Full Time,2018-04-16T01:26:50Z,NaN,NaN,https://www.seek.com.au/job/35991578

creating quarter for each post date to do analysis on quarter level

In [463]:
seek['quarter'] = pd.to_datetime(seek['post_date']).dt.quarter

Function to transform numerical values of quarter to values starting with Q like Q1, Q2, Q3 & Q4

In [464]:
def quarter_transform(quarter):
    quarter_final = []
    for quar in quarter:
        quarter_final += ['Q' + str(quar)]
    
    return quarter_final

In [465]:
seek['quarter'] = quarter_transform(seek['quarter'])

Function to transform salary_offered column depending on the mention of salary number in job listing

In [466]:
def salary_transform(column):
    salary_final = []
    for salary in column:
        
        #The conditions here checks for na or missing values and whether the string contains any digit
        if salary == salary and any(char.isdigit() for char in salary):
            salary_final += ['1']
        else:
            salary_final += ['0']
    
    return salary_final

In [467]:
seek['salary'] = salary_transform(seek['salary_offered'])

We will drop few columns such as url, job_description and salary_offered

In [468]:
seek = seek.drop(['url', 'job_description', 'salary_offered'], axis = 1)

Function to split the post_date to column to year, month and day

In [469]:
def split_date(date_ls):
    year = []
    month = []
    day = []
    for date in date_ls:
        if '-' in date:
            date = date.split('-')
            year += [date[0]]
            month += [date[1]]
            day += [date[2][0:2]]
        else:
            date = date.split('/')
            year += [date[2]]
            month += [date[0]]
            day += [date[1]]
        
    return year, month, day

In [470]:
year, month, day = split_date(seek['post_date'])

In [471]:
seek['year'] = year
seek['month'] = month
seek['day'] = day

In [472]:
seek = seek.drop('post_date', axis = 1)

Reordering columns after splitting date to year, month and day

In [473]:
seek = seek[['category', 'city', 'company_name', 'geo', 'job_board', 'job_title', 'job_type', 'year', 'quarter', 'month', 'day', 
             'salary', 'state']]

Now we will read reed data

In [485]:
reed = pd.read_csv('reed_uk.csv')

In [486]:
reed.head()

,category,city,company_name,geo,job_board,job_description,job_requirements,job_title,job_type,post_date,salary_offered,state
0,catering jobs,Chudleigh,Haulfryn Group,uk,reed,Apply now New opportunity not to be missed! H...,NaN,Commis Chef,"Permanent, full-time",3/12/2018,"£18,323 per annum",Devon
1,law jobs,Swindon,Reed,uk,reed,Apply now This role requires an experienced s...,NaN,Corporate Legal Secretary,"Permanent, full-time",3/8/2018,"£18,000 - £22,000 per annum",Wiltshire
2,factory jobs,Norfolk,Swanstaff Recruitment Ltd,uk,reed,Apply now Job Title: Warehouse personLocation...,NaN,Warehouse Person,"Permanent, full-time",2/27/2018,Salary not specified,East Anglia
3,law jobs,Hurstpierpoint,Castles Solicitors,uk,reed,Apply now Castles Solicitors are looking for ...,Required skills Admin Case Management Corresp...,Legal Secretary / Admin Assistant,"Permanent, full-time or part-time",2/21/2018,"£15,000 - £17,000 per annum, pro-rata",West Sussex
4,factory jobs,Hertfordshire,Marketplace Group,uk,reed,Apply now International Pharmaceutical Manufa...,NaN,Category Planner - Pharmaceutical,"Permanent, full-time",3/1/2018,"£37,000 - £45,000 per annum",South East England

In [487]:
reed.shape

(50000, 12)

creating quarter for each post date to do analysis on quarter level

In [488]:
reed['quarter'] = pd.to_datetime(reed['post_date']).dt.quarter

Transforming numerical values of quarter to values starting with Q like Q1, Q2, Q3 & Q4

In [489]:
reed['quarter'] = quarter_transform(reed['quarter'])

In [490]:
reed['salary'] = salary_transform(reed['salary_offered'])

We will drop few columns such as job_requirements, job_description and salary_offered

In [491]:
reed = reed.drop(['job_description', 'job_requirements', 'salary_offered'], axis = 1)

In [492]:
year, month, day = split_date(reed['post_date'])

In [493]:
reed['year'] = year
reed['month'] = month
reed['day'] = day

In [494]:
reed = reed.drop('post_date', axis = 1)

Reordering columns after splitting date to year, month and day

In [495]:
reed = reed[['category', 'city', 'company_name', 'geo', 'job_board', 'job_title', 'job_type', 'year', 'quarter', 'month', 'day', 
             'salary', 'state']]

Some job categories are similar in both reed and seek so we will update these categories in reed to match with the values of seek

In [496]:
categories = {'retail jobs': 'Retail & Consumer Products', 'customer service jobs': 'Call Centre & Customer Service',
             'law jobs': 'Legal', 'marketing jobs': 'Marketing & Communications', 'hr jobs': 'Human Resources & Recruitment',
             'banking jobs': 'Banking & Financial Services', 'science jobs': 'Science & Technology',
             'media digital creative jobs': 'Advertising, Arts & Media', 'general insurance jobs': 'Insurance & Superannuation',
             'estate agent jobs': 'Real Estate & Property', 'energy jobs': 'Mining, Resources & Energy',
             'health jobs': 'Healthcare & Medical', 'education jobs': 'Education & Training',
             'it jobs': 'Information & Communication Technology', 'construction property jobs': 'Construction',
             'sales jobs': 'Sales', 'retail jobs': 'Retail & Consumer Products'}

reed['category'] = reed['category'].replace(to_replace= categories)

we will update the job type values in the reed data to match with the values in seek data

In [497]:
jobtype_update = {'Permanent, full-time': 'Full Time', 'Temporary, full-time': 'Contract/Temp',
                 'Contract, full-time': 'Contract/Temp', 'Permanent, part-time': 'Contract/Temp',
                 'Temporary, part-time': 'Contract/Temp', 'Temporary, full-time or part-time': 'Contract/Temp',
                 'Contract, full-time or part-time': 'Contract/Temp', 'Contract, part-time': 'Contract/Temp'}
reed['job_type'] = reed['job_type'].replace(to_replace= jobtype_update)

we will update the state values in the seek data to actual states in Australia as the current values doesn't tell much about the states. In order to do this, we will map each city to their respective state in Australia.

In [498]:
states_final = {'Sydney': 'New South Wales', 'Brisbane': 'Queensland', 'Melbourne': 'Victoria',
               'Adelaide': 'South Australia', 'Northam & Wheatbelt': 'Western Australia', 
                'Port Hedland, Karratha & Pilbara': 'Western Australia', 'Gosford & Central Coast': 'New South Wales',
               'Newcastle, Maitland & Hunter': 'New South Wales', 'Gold Coast': 'Queensland',
               'Rockhampton & Capricorn Coast': 'Queensland', 'Wollongong, Illawarra & South Coast': 'New South Wales',
               'Blue Mountains & Central West': 'New South Wales', 'Kalgoorlie, Goldfields & Esperance': 'Western Australia',
               'Dubbo & Central NSW': 'New South Wales', 'Cairns & Far North': 'Queensland',
               'Perth': 'Western Australia', 'Bunbury & South West': 'Western Australia',
               'Hobart': 'Tasmania', 'Geelong & Great Ocean Road': 'Victoria', 'Sunshine Coast': 'Queensland',
               'Tamworth & North West NSW': 'New South Wales', 'Mt Isa & Western QLD': 'Queensland',
               'Goulburn & Southern Tablelands': 'New South Wales', 'Mornington Peninsula & Bass Coast': 'Victoria',
               'Fleurieu Peninsula & Kangaroo Island': 'South Australia', 'Port Macquarie & Mid North Coast': 'New South Wales',
               'Darwin': 'Northern Territory', 'Coffs Harbour & North Coast': 'New South Wales',
               'Gladstone & Central QLD': 'Queensland', 'Mackay & Coalfields': 'Queensland', 
                'Geraldton, Gascoyne & Midwest': 'Western Australia', 'Ballarat & Central Highlands': 'Victoria',
               'Wagga Wagga & Riverina': 'New South Wales', 'Townsville & Northern QLD': 'Queensland',
               'Bendigo, Goldfields & Macedon Ranges': 'Victoria', 'Albany & Great Southern': 'Western Australia',
               'Shepparton & Goulburn Valley': 'Victoria', 'Toowoomba & Darling Downs': 'Queensland',
               'Bundaberg & Wide Bay Burnett': 'Queensland', 'Katherine & Northern Australia': 'Northern Territory',
               'Albury Wodonga & Murray': 'New South Wales', 'Adelaide Hills & Barossa': 'South Australia',
               'Lismore & Far North Coast': 'New South Wales', 'Traralgon & La Trobe Valley': 'Victoria',
               'Whyalla & Eyre Peninsula': 'South Australia', 'Devonport & North West': 'Tasmania',
               'Mildura & Murray': 'Victoria', 'Yorke Peninsula & Clare Valley': 'South Australia',
               'Mandurah & Peel': 'Western Australia', 'Yarra Valley & High Country': 'Victoria',
               'Alice Springs & Central Australia': 'Northern Territory', 'Richmond & Hawkesbury': 'New South Wales',
               'Mt Gambier & Limestone Coast': 'South Australia', 'Launceston & North East': 'Tasmania',
               'Bairnsdale & Gippsland': 'Victoria', 'Horsham & Grampians': 'Victoria',
               'Tumut, Southern Highlands & Snowy': 'New South Wales', 'Hervey Bay & Fraser Coast': 'Queensland',
               'Broome & Kimberley': 'Western Australia', 'Riverland & Murray Mallee': 'South Australia',
               'Coober Pedy & Outback SA': 'South Australia', 'Far West & North Central NSW': 'New South Wales',
               'Somerset & Lockyer': 'Queensland', 'Central & South East': 'Tasmania', 'ACT': ''}

seek['state'] = seek['city'].replace (to_replace=states_final)

Now we will merge both seek and reed dataframes along rows to get final dataframe

In [499]:
final_df = pd.concat([seek, reed])

In [500]:
final_df.tail()

,category,city,company_name,geo,job_board,job_title,job_type,year,quarter,month,day,salary,state
49995,Science & Technology,Oxfordshire,Hays Specialist Recruitment Limited,uk,reed,Scientist In vitro Cell-Free & Cell Based Assays,Contract/Temp,2018,Q1,3,7,1,South East England
49996,graduate training internships jobs,Northampton,The Graduate,uk,reed,Graduate Training Scheme - Recruitment,Full Time,2018,Q1,3,9,1,Northamptonshire
49997,strategy consultancy jobs,City of London,Capgemini Consulting,uk,reed,"Management Consultant - Retail Buying, Merchan...",Full Time,2018,Q1,2,17,0,London
49998,purchasing jobs,Egham,Concept Human Solutions,uk,reed,AV Procurement Assistant,Full Time,2018,Q1,3,6,1,Surrey
49999,fmcg jobs,London,D R Newitt,uk,reed,Supply Planner - French Speaking,Full Time,2018,Q1,2,27,1,South East England

In [501]:
final_df.shape

(80000, 13)

we will reset index because after merging 2 dataframes as index numbers have become inconsistent

In [502]:
final_df = final_df.reset_index(drop=True)

we will map month numbers to Month names

In [504]:
month_name = {'1': 'January', '2': 'February', '3': 'March', '04': 'April', '8': 'August',
             '9': 'September', '11': 'November', '12': 'December'}

final_df['month'] = final_df['month'].replace(to_replace = month_name)

Dropping the duplicates from the dataframe

In [505]:
final_df = final_df.drop_duplicates()

In [506]:
final_df.shape

(73445, 13)

Function for adding ID to Dimension tables

In [507]:
def dim_table(df, column):
    df = df.drop_duplicates()
    df = df.reset_index(drop=True)
    df[column] = df.index + 1
    
    return df

We will create ID for each dimension tables and rearrange columns

In [508]:
Location_df = final_df[['geo', 'state', 'city']]
Location_df = dim_table(Location_df, 'LocationID')
Location_df = Location_df[['LocationID', 'geo', 'state', 'city']]

In [509]:
Date_df = final_df[['year', 'quarter', 'month', 'day']]
Date_df = dim_table(Date_df, 'DateID')
Date_df = Date_df[['DateID', 'year', 'quarter', 'month', 'day']]

In [510]:
JobInfo_df = final_df[['company_name', 'category', 'job_title', 'job_type']]
JobInfo_df = dim_table(JobInfo_df, 'JobInfoID')
JobInfo_df = JobInfo_df[['JobInfoID', 'company_name', 'category', 'job_title', 'job_type']]

In [511]:
JobBoard_df = final_df[['job_board']]
JobBoard_df = dim_table(JobBoard_df, 'JobBoardID')
JobBoard_df = JobBoard_df[['JobBoardID', 'job_board']]

We will use merge function in pandas to map Location ID to each combination of geo, state and city

In [512]:
Location = final_df[['geo', 'state', 'city']]
Location_final = pd.merge(Location, Location_df, on = ['geo', 'state', 'city'], how = 'left')
Location_final.head()

  geo            state       city  LocationID
0  AU  New South Wales     Sydney           1
1  AU       Queensland   Brisbane           2
2  AU  New South Wales     Sydney           1
3  AU         Victoria  Melbourne           3
4  AU  South Australia   Adelaide           4

We will use merge function in pandas to map JobBoard ID to each row

In [514]:
JobBoard = final_df[['job_board']]
JobBoard_final = pd.merge(JobBoard, JobBoard_df, on = ['job_board'], how = 'left')
JobBoard_final.head()

  job_board  JobBoardID
0      seek           1
1      seek           1
2      seek           1
3      seek           1
4      seek           1

we will use merge function in pandas to map JobInfo ID to each combination of company_name, category, job_title and job_type

In [515]:
JobInfo = final_df[['company_name', 'category', 'job_title', 'job_type']]
JobInfo_final = pd.merge(JobInfo, JobInfo_df, on = ['company_name', 'category', 'job_title', 'job_type'], how = 'left')
JobInfo_final.head()

,company_name,category,job_title,job_type,JobInfoID
0,Frontline Executive Retail Sydney,Retail & Consumer Products,Store Manager - Fresh Produce,Full Time,1
1,Powerlink,Government & Defence,Client Solution Analyst,Full Time,2
2,Richard Jay Laundry,Trades & Services,Service Technician / Installer - NSW,Full Time,3
3,Adaptalift Hyster,Trades & Services,Workshop Technician I Material Handling Equipment,Full Time,4
4,Bakers Delight G&M,Trades & Services,APPRENTICESHIP JUNIOR BAKER,Full Time,5

we will use merge function in pandas to map Date ID to each combination of year, quarter, month and day

In [516]:
Date = final_df[['year', 'quarter', 'month', 'day']]
Date_final = pd.merge(Date, Date_df, on =['year', 'quarter', 'month', 'day'], how = 'left')
Date_final.head()

   year quarter  month day  DateID
0  2018      Q2  April  15       1
1  2018      Q2  April  15       1
2  2018      Q2  April  15       1
3  2018      Q2  April  16       2
4  2018      Q2  April  16       2

Resetting index to make index consistent

In [517]:
final_df =final_df.reset_index(drop=True)

In [518]:
final_df['DateID'] = Date_final['DateID']
final_df['LocationID'] = Location_final['LocationID']
final_df['JobBoardID'] = JobBoard_final['JobBoardID']
final_df['JobInfoID'] = JobInfo_final['JobInfoID']

In [519]:
final_df.head()

,category,city,company_name,geo,job_board,job_title,job_type,year,quarter,month,day,salary,state,DateID,LocationID,JobBoardID,JobInfoID
0,Retail & Consumer Products,Sydney,Frontline Executive Retail Sydney,AU,seek,Store Manager - Fresh Produce,Full Time,2018,Q2,April,15,1,New South Wales,1,1,1,1
1,Government & Defence,Brisbane,Powerlink,AU,seek,Client Solution Analyst,Full Time,2018,Q2,April,15,0,Queensland,1,2,1,2
2,Trades & Services,Sydney,Richard Jay Laundry,AU,seek,Service Technician / Installer - NSW,Full Time,2018,Q2,April,15,0,New South Wales,1,1,1,3
3,Trades & Services,Melbourne,Adaptalift Hyster,AU,seek,Workshop Technician I Material Handling Equipment,Full Time,2018,Q2,April,16,0,Victoria,2,3,1,4
4,Trades & Services,Adelaide,Bakers Delight G&M,AU,seek,APPRENTICESHIP JUNIOR BAKER,Full Time,2018,Q2,April,16,0,South Australia,2,4,1,5

Now creating fact table dataframe by adding foreign keys to Dimension tables and taking salary

In [520]:
factdf = pd.DataFrame()

In [521]:
factdf['LocationID'] = Location_final['LocationID']
factdf['DateID'] = Date_final['DateID']
factdf['JobBoardID'] = JobBoard_final['JobBoardID']
factdf['JobInfoID'] = JobInfo_final['JobInfoID']
factdf['salary_offered'] = final_df['salary']

Resetting index to start from 1

In [522]:
factdf.index = factdf.index + 1

In [523]:
factdf.head()

   LocationID  DateID  JobBoardID  JobInfoID salary_offered
1           1       1           1          1              1
2           2       1           1          2              0
3           1       1           1          3              0
4           3       2           1          4              0
5           4       2           1          5              0

Creating csv files for Dimension tables and Fact table from the dataframes

In [524]:
factdf.to_csv('FactJobSalaries.csv', header=False, index= True)

In [525]:
Location_df.to_csv('DimLocation.tsv', header=False, index=False, sep = '\t')
JobInfo_df.to_csv('DimJobInfo.tsv', header=False, index=False, sep = '\t')

In [526]:
JobBoard_df.to_csv('DimJobBoard.csv', header=False, index=False)
Date_df.to_csv('DimDate.csv', header=False, index= False)